.home-banner {height:304px;width:900px;margin-top:0px;position:relative;margin-bottom:0px;/*z-index:-2;*/ display: block;}
.home-banner>ul {list-style-type:none;margin:0;padding:0;width:900px;height:304px;position:absolute;overflow:hidden;}
.home-banner>ul>li {height:304px;float:left;width:150px;padding:0;display:none;}
.home-banner>ul>li.li-one {background-position:0 0;}
.home-banner>ul>li.li-two {background-position:-150px 0;}
.home-banner>ul>li.li-three {background-position:-300px 0;}
.home-banner>ul>li.li-four {background-position:-450px 0;}
.home-banner>ul>li.li-five {background-position:-600px 0;}
.home-banner>ul>li.li-six {background-position:-750px 0;}
#left{background-image:url("images/arrowSlideshowLeft.png");z-index:2;width: 40px; height: 75px; position: relative; left: 0%}
.home-banner .right{background-image:url("images/arrowSlideshowRight.png");z-index:2;width: 40px; height: 75px; position: relative; right: 0%; float: right;}